/* PHASE 1: Header */
body {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 370px;
  background-color: red;
}

h1 {
  font-weight: 700;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px 20px;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  align-content: center;
  border-left: 1px solid #ccc;
  padding: 10px 20px;
}

li:last-of-type {
  border-right: 1px solid #ccc;
}

.nav:hover {
  background-color: black;
}
